
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>17团队产品</title>
</head>
<body>
    <div>
        @*<a href="">客户管理后台</a>*@
        这是团队官网
        <a href="@Url.Action("Register", "User")">注册</a>
    </div>
</body>
</html>
