@{
    Layout = null;
}
@model Fjtc.Model.ViewModel.UserViewModel
<div>
    <form>
        <table>
            <tr>
                <td>用户名</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
            </tr>
        </table>
    </form>
</div>
